<!DOCTYPE html>
<html>

<head>
    <title>Каталог товаров</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="d_content">

        <header>
            <div>
                <a href="/">
                    <div>
                        <p>Интернет-каталог товаров комплектующих ПК</p>
                    </div>
                </a>
            </div>
        </header>

        <nav>
            <div>
                <ul>
                    <li><a href="/">Главная страница</a></li>
                    <li><a class="pickedli" href="catalog">Каталог товаров</a></li>
                </ul>
            </div>
        </nav>

        <div class="d_filter_block">
            <div>Фильтр</div>
            <form method="post">
                <p>
                    <label>Цена:</label><br>
                    <input name="lowest_price" value="0"/>
                    <input name="highest_price" value="1000000"/>
                </p>
                {{#each good_filters}}
                    {{#if this.checkboxList}}
                        <p>
                            <label>{{this.label}}:</label><br>
                            {{#each this.values}}
                                <input type="checkbox" name="{{../this.key}} {{this}}" id="{{this}}"/>
                                <label for="{{this}}">{{this}}</label>
                            {{/each}}
                        </p>
                    {{else}}
                        <p>
                            <label>{{this.label}}</label><br>
                            <input name="{{this}}"/>
                        </p>
                    {{/if}}
                {{/each}}
                <input type="submit" value="Применить" />
            </form>
        </div>

        <div class="d_goods_block">
            {{#each goods}}
            <div class="d_good">
                <a href="{{this.link}}">
                    <div>
                        <p>{{this.name}}</p>
                        <img class="img_good" src="/assets/{{this.pict}}" alt="{{this.name}} pict">
                        <p>{{this.price}} руб.</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

    </div>

    <footer>
        <hr>
        <h4>23-ИСТ-4-2 Белов Дмитрий Алексеевич dbelov1357@gmail.com</h4>
    </footer>

</body>

</html>